<!DOCTYPE html>
<!-- Añadimos el nameSpace de seguridad de Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">


</head>

<!-- background-image:url('/images/logoMemphis.png'); opacity:1; -->
<body>

<!-- ### Div para la nieve ### -->
<!--  <div id="nieve" th:replace="vistaNieve/nieve" ></div>-->
<!-- #########################  -->
	<!-- Py-4 : Nos da un margen de anchura. -->
	<div id="ivPrincipal" class="container py-4">
		<img th:src="@{/images/logoMemphis.jpg}"
			class="rounded mx-auto d-block" alt="Logo Memphis"
			style="max-width: 400px; width: 100%; margin-bottom: 20px;">

		<!-- bg-light: Le da un fondo de color a la tabla grisaceo -->
		<div class="card bg-light">
			<!-- Añadir cuando se utilice el div de la nive
					id="cabeceraTabla" 
			-->
			<div class="card-header" style="text-align: center;">
				<!--  <img th:src="@{/images/granoCafe.png}"
					 alt="Grano Cafe"
					style="max-width: 20px; width: 80%;">-->
				<span id="tituloPanel">Café &#x26; Copas - Memphis</span>
				<!--  <img th:src="@{/images/granoCafe.png}"
					 alt="Grano Cafe"
					style="max-width: 20px; width: 80%;">-->
			</div>
			<div id="tablaAlimentos" class="card-body col text-center">

				<!-- Clase Acordeon para los Sub-Menus -->
				<!-- ################################# -->
				<div class="accordion accordion-flush" id="accordionFlushExample">

					<!-- Cafes -->
					<!-- ######### -->
					<div th:replace="comidas/cafes"></div>
	
					<!-- Desayunos -->
					<!-- ######### -->
					<div th:replace="comidas/desayunos"></div>

					<!-- Bebidas -->
					<!-- ####### -->
					<div  th:replace="comidas/bebidas"></div>
					
					<!-- Comidas -->
					<!-- ####### -->
					<div  th:replace="comidas/comida"></div>

					<!-- Raciones -->
					<!-- ######## -->
					<div  th:replace="comidas/raciones"></div>

					<!-- Carnes -->
					<!-- ###### -->
					<div  th:replace="comidas/carnes"></div>

					<!-- Pescado -->
					<!-- ####### -->
					<div  th:replace="comidas/pescado"></div>

					<!-- Postres -->
					<!-- ####### -->
					<div  th:replace="comidas/postres"></div>

					<!-- Cocteles -->
					<!-- ######## -->
					<div  th:replace="comidas/cocteles"></div>

					<!-- Repostería -->
					<!-- ########## -->
					<div  th:replace="comidas/reposteria"></div>
					
				</div>
				<!-- Cierre div Iniciales -->
				<!-- #################### -->
			</div>
		</div>

		<!-- 
		<div style="position: fixed; right: 15%; bottom: 18%;">
			<div th:replace="modalAlergenos"></div>
		</div>
 		-->

		<!-- 		<div style=" background-color: rgba(0, 0, 0, 0.05);"> -->
		<div>
			<button id="modalBoton" type="button" class="btn btn-sm"
				data-bs-toggle="modal" data-bs-target="#staticBackdrop">Alérgenos</button>
		</div>
		<div id="staticBackdrop" th:replace="modalAlergenos"></div>
		<!-- 		</div> -->

		<!-- FOOTER -->
		<!-- ###### -->
		<footer th:replace="layout/layout :: footer"> </footer>
	</div>

	<div th:replace="modalEmergente/modalPromocion"></div>

</body>

<!-- Modal de alerta pasado 3 segundos -->
<!--  
<script type="text/javascript">
setTimeout(function(){ 
	$('#modalEmergente').modal('show')
	}, 3000);
</script>
-->

</html>