<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



				<!-- Button trigger modal -->
			<button id="modalBoton" type="button"
				class="btn btn-sm" data-bs-toggle="modal"
				data-bs-target="#staticBackdrop">Alérgenos</button>

			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Leyenda de
								Alérgenos</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<table id="tablaComidas" class="table table-striped table-hover">
								<thead>
									<tr>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Pescados.jpg}"
												alt="Pescados" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Pescados"> Pescado
										</td>
										<td>
										<img
												th:src="@{/images/alergenos/Altramuz.jpg}"
												alt="Altramuz" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Altramuz"> Altramuz
										</td>
									</tr>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Apio.jpg}"
												alt="Apio" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Apio"> Apio
										</td>
										<td>
										<img
												th:src="@{/images/alergenos/Cacahuetes.jpg}"
												alt="Cacahuetes" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Cacahuetes"> Cacahuetes
										</td>
									</tr>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Crustaceos.png}"
												alt="Crustaceos" style="max-width: 27px; width: 18%;"
												data-toggle="tooltip" data-placement="left"
												title="Crustaceos"> Crustaceos
										</td>
										<td>
										<img
												th:src="@{/images/alergenos/FrutosSecos.jpg}"
												alt="FrutosSecos" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="FrutosSecos"> Frutos Secos
										</td>
									</tr>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Gluten.jpg}"
												alt="Gluten" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Gluten"> Gluten
										</td>
										<td>
										<img
												th:src="@{/images/alergenos/Huevos.jpg}"
												alt="Huevos" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Huevos"> Huevos
										</td>
									</tr>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Lacteos.jpg}"
												alt="Lacteos" style="max-width: 27px; width: 15%;"
												data-toggle="tooltip" data-placement="left"
												title="Lacteos"> Lacteos
										</td>
										<td>
										<img
												th:src="@{/images/alergenos/Mariscos.jpg}"
												alt="Mariscos" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Mariscos"> Mariscos
										</td>
									</tr>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Moluscos.jpg}"
												alt="Moluscos" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Moluscos"> Moluscos
										</td>
										<td>
										<img
												th:src="@{/images/alergenos/Mostaza.jpg}"
												alt="Mostaza" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Mostaza"> Mostaza
										</td>
									</tr>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Sesamo.jpg}"
												alt="Sesamo" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Sesamo"> Sesamo
										</td>
										<td>
										<img
												th:src="@{/images/alergenos/Soja.jpg}"
												alt="Soja" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Soja"> Soja
										</td>
									</tr>
									<tr>
										<td>
										<img
												th:src="@{/images/alergenos/Sulfitos.jpg}"
												alt="Sulfitos" style="max-width: 26px; width: 10%;"
												data-toggle="tooltip" data-placement="left"
												title="Sulfitos"> Sulfitos
										</td>
										<td/>
									</tr>
								</tbody>
							</table>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal" style="background-color: darkcyan">Cerrar</button>
						</div>
					</div>
				</div>
			</div>

</body>
</html>